<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <h4>Tarefas Cadastradas</h4>
            </div>
            <div class="col s6 right-align">
              <a routerLink="/">
                <button class="btn">Fechar</button>
              </a>
            </div>
          </div>

          <table class="striped">
            <thead>
              <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Data de Entrega</th>
                <th>Categoria</th>
                <th>Operações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td>{{ task.titulo }}</td>
                <td>{{ task.descricao }}</td>
                <td>{{ task.prioridade }}</td>
                <td>{{ task.dataEntrega }}</td>
                <td>{{ task.categoria }}</td>
                <td>
                  <button class="btn" style="margin-left: 5px;" (click)="deleteTask(task)">Apagar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
